/*reseting the body element style*/
body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: white;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

/*Creating a header with flixable items and give it style*/
header {
	width: 100%;
	height: 70px;
	position: relative;
	background-color: #3e739d;
	display: flex;
	align-items: center;
	box-shadow: 0px 20px 19px black;
}

/*Fitting the hamburger img inside the header and set it left*/
.hamburger {
	height: 70px;
	justify-content: flex-start;
}

/*styling the header text*/
.header_title {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 250%;
}

/*Fitting the logo img inside the header and set it right*/
.logo {
	height: 70px;
	justify-content: flex-end;
}

/*creating style for the menu*/
.menu {
	width: 250px;
	height: 100%;
	background-color: #3e739d;
	position: absolute;
	left: -250px;
	transition: 0.3s all;
}

/*using "!important" to override the css style "left" its value from -250px to be 0, to achieve that the menu toggle in and out*/
.menu_show {
	left: 0!important;
}

/*Styling the text inside the menu*/
.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: white;
	font-size: 25px;
	text-decoration: none;
}

/*Adding a background image and style*/
.container {
	margin: 0 auto 0 auto;
	background-image: url(../images/canoe.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1200px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-size: 400%;
	font-weight: bold;
}

/*Styling the site content and adjust it to 1200px*/
.site_content {
	margin: 0 auto 0 auto;
	border: 0;
	padding: 0;
	padding-bottom: 10%;
	max-width: 1200px;
}


.site_content > h2 {
	margin-bottom: 0px;
	color: green;
	text-decoration: underline;
}

.site_content > p {
	margin: 5px auto 0 auto;
	padding-left: 30px;
}

.site_content > h4 {
	margin: 20px auto 0 auto;
}

/*to achieve the condition of "Below 1200px the main content must be 100% across the screen"*/
@media screen and (max-width: 1200px) {
	body {
		font-size: 100%;
	}
	main {
		max-width: 100%;
	}
}

/*to achieve the condition of "Below 800px all font sizes must change"*/
@media screen and (max-width: 800px) {
	body {
		font-size: 50%;
	}
	.site_content {
		font-size: 150%;
	}
	.container {
		height: 250px;
	}
	header {
		height: 40px;
	}
	.hamburger {
		height: 40px;
	}
	.logo {
		height: 40px;
	}
}

.vErrors {
	color: red;
	position: absolute;
	left: 300px;
	top: 500px;
}

.VEbold {
	font-weight: bold;
}

.rightSide {
	float: right;
}

.paddingRightOnly {
	padding-right: 20px;
}

.redButton {
	color: white;
	font-size: 22px;
	background-color: red;
}

.logOut {
	color: white;
	font-size: 40px;
	background-color: green;
	float: left;

}

.goBack {
	color: white;
	font-size: 40px;
	background-color: red;
	float: right;
}

#welcomeBox {
	width: 70vw;
	min-width: 801px;
	margin: auto;
	background: lightblue;
}

#welcomeBox form {
	width: 60%;
	min-width: 801px;
	margin: auto;
	padding-left: 3px;
	padding-top: 15px;
}

#welcomeBox select,  #welcomeBox input {
	font-size: 18px;
	border-width: 0px;
}

.middleText {
	text-align: center ;
	padding-top: 25px;
}

.formLabel {
	font-size: 22px;
}
.leftSide {
	float: left;
}

.whiteBg {
	background-color: white;
}

.inARow {
	padding: 0px;
	margin: 5px;
}

.nameLabel {
	text-align: center;
}
.role {
	text-align: end ;
}

.firstFormField {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.blueButton {
	color: white;
	background-color: #2196f3;
}

.lastFormField {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 15px;
}

.prob {
	padding-left: 20px;
}

.h1prob {
	color: brown;
	text-align: center;
}

.h2prob {
	color: darkblue;
	padding-left: 15px;
}

.link {
	font-size: 18px;
	margin-left: 400px;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3e739d;
    color: white;
    box-shadow:  0px -20px 19px black;
}

.footerText {
	float: left;
}

.socialMedia {
	float: right;
}


.gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.makeSure {
	font-weight: bold;
	font-size: 22px;
	color: red;
	float: right;
}